secrets.yaml
.ios.conf
.tradfri_psk.conf
.uuid
*.log
known_devices.yaml
home-assistant*.db
*.pyc
.idea/
.vscode/
__pycache__/
.HA_VERSION
OZW_Log.txt
pyozw.sqlite
.storage/*
tts/
appdaemon/compiled
home-assistant_v2*
google_calendars.yaml
.google.token
.DS_Store
._.DS_Store
